<ion-view view-title="FAQ">

	<!-- Back button -->
	<ion-nav-buttons side="left">
		<a href="#/tab/about" class="button button-icon icon ion-ios-arrow-back" ></a>
	</ion-nav-buttons>

	<!-- FAQ page content -->
	<ion-content class="padding">
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap">
				<h1 class="FAQ-title"> Frequently Asked Questions and Answers</h1>
				<hr class="FAQ-hr" />
				<p class="FAQ-question">Q1: Why is my diagnosis/problem not mentioned on this website?</p>
				<p class="FAQ-answer">This website is based on information from a review of the evidence base undertaken by Peter Fonagy, David Cottrell and others in 2003, and followed their categories of evidence. We recognise this does not cover all types of diagnoses or possible categorisation of problems that people might be interested in, but we need to stick with the categories on which the research evidence is based. For more general information about different sorts of problem and different sorts of help that are offered for these we suggest you go to one of the websites we mention in the links section such as YoungMinds or the Royal College of Psychiatry, both of which have a range of useful information sheets.</p>
				<p class="FAQ-question">Q2: Why is my treatment not mentioned on this website?</p>
				<p class="FAQ-answer">This website is based on information from a review of the evidence base undertaken by Peter Fonagy, David Cottrell and others in 2003, and only include treatments they considered as part of their review.  We recognise this does not cover all types of treatments currently being offered, but only those which have had some rigorous research carried out on them.  New treatments are developed all the time and new research is being undertaken all the time and we only update our site when a new review is completed (which we hope will be this year, 2011). We will update the site at this point with any new research evidence and any new treatments included in this review. In the meantime to find most recent advice on types of treatment for different types of problem go  to NICE website.</p>
				<p class="FAQ-question">Q3: Why is  research that I am aware of  not mentioned on this website?</p>
				<p class="FAQ-answer">We base our site on information from a review of the evidence base undertaken by Peter Fonagy, David Cottrell and others in 2002.    New research is being undertaken all the time and we only update our site when a new review is completed (which we hope will be within the next 12 months). We will update the site at this point with any new research evidence included in this review. In the meantime to find most recent advice on types of treatment for different types of problem go to NICE website.</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
