<ion-view view-title="WHAT THE RATINGS MEAN">

	<!-- Back button -->
	<ion-nav-buttons side="left">
		<a href="#/tab/about" class="button button-icon icon ion-ios-arrow-back" ></a>
	</ion-nav-buttons>

	<!-- What the ratings mean content -->
	<ion-content class="padding">
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap">
				<h1 class="Rating-title">What the Ratings Mean</h1>
				<hr class="Rating-hr" />
				<p class="Rating-likely">Very likely to help </p>
				<img class="Rating-display" ng-src="img/three.png">
				<p class="Rating-mean">Several different scientists have done the most careful kind of study where they split people into different groups, each of which got a different type of help. The groups people were put in were decided 'randomly', e.g. someone might toss a coin to see who goes in which group - so that each group has roughly the same mix of people. This is thought to be the fairest test of whether something helps because people in the groups are similair in every way, except for the type of help they get.</p>
				<p class="Rating-likely">Likely to help </p>
				<img class="Rating-display" ng-src="img/two.png">
				<p class="Rating-mean">Scientists may have done several good studies where they have split people up into different groups and given them different sorts of help. People got to choose – or were chosen – to be in each group. This is not as fair a test, because people in the different groups may be different in some way that affects whether they get better or not.</p>
				<p class="Rating-likely">Might help </p>
				<img class="Rating-display" ng-src="img/one.png">
				<p class="Rating-mean">Scientists have not yet done many good studies, or they have only looked at what people are already doing and compared one group with another. This is thought to be the least fair test because it is quite likely that the people in the different groups are different in some way that affects whether they get better or not.</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
