<ion-view view-title="USEFUL INFORMATION">

	<!-- Back button -->
	<ion-nav-buttons side="left">
		<a href="#/tab/about" class="button button-icon icon ion-ios-arrow-back" ></a>
	</ion-nav-buttons>

	<!-- Useful Infromation Content -->
	<ion-content class="padding" ng-controller="InfoController">
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap">
				<h1 class="UsInfo-title">Useful Information and Resources </h1>
				<hr class="UsInfo-hr" />
				<li class="UsInfo-list" ng-click="openPage1()"><a href="">ADDiSS </a></li>
				<li class="UsInfo-list" ng-click="openPage2()"><a href="">Beat </a></li>
				<li class="UsInfo-list" ng-click="openPage3()"><a href="">Frank </a></li>
				<li class="UsInfo-list" ng-click="openPage4()"><a href="">Mental Health Foundation </a></li>
				<li class="UsInfo-list" ng-click="openPage5()"><a href="">National Autistic Society </a></li>
				<li class="UsInfo-list" ng-click="openPage6()"><a href="">Family Lives </a></li>
				<li class="UsInfo-list" ng-click="openPage7()"><a href="">Royal College of Psychiatrists </a></li>
				<li class="UsInfo-list" ng-click="openPage8()"><a href="">RU-OK </a></li>
				<li class="UsInfo-list" ng-click="openPage9()"><a href="">Childline </a></li>
				<li class="UsInfo-list" ng-click="openPage10()"><a href="">Tourette’s Syndrome </a></li>
				<li class="UsInfo-list" ng-click="openPage11()"><a href="">YoungMinds </a></li>
				<li class="UsInfo-list" ng-click="openPage12()"><a href="">Youth In Mind </a></li>
				<li class="UsInfo-list" ng-click="openPage13()"><a href="">National Institute for Health and Clinical Excellence </a></li>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
